@charset "utf-8";
/* CSS Document */
.title
  
{
	
	
	color:aliceblue;
	font-size:70px;
	
	
}


body

{
	background-color: darkgray;
}

.main
{
	background-color: aliceblue;
	margin-top:-17px;
	
}

.para1
{
	text-align: justify;
	font-size:20px;
}

.bottom
{
	background-color:black;
	color:aliceblue;
	font-size:15px;
	margin-top:10px;
	text-align: center;
	font-style: italic;
	word-spacing:10px;
	border-radius:20px;
	
	
	
}